doctype html
html
  head
    meta(charset='utf-8')
    link(rel='icon', type='image/png', href='/assets/img/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title 弹屏目 
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    // Bootstrap core CSS
    link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
    // Animation library for notifications
    link(href='/assets/css/animate.min.css', rel='stylesheet')
    // Light Bootstrap Table core CSS
    link(href='/assets/css/light-bootstrap-dashboard.css?v=1.4.0', rel='stylesheet')
    // Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,300', rel='stylesheet', type='text/css')
    link(href='/assets/css/pe-icon-7-stroke.css', rel='stylesheet')
  body
    .wrapper
      .sidebar(data-color='purple', data-image='/assets/img/eye.jpg')
        //
          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag
        .sidebar-wrapper
          .logo
            .simple-text
              | 弹屏目
          ul.nav
            li.active
              a(href='/activity/list')
                i.pe-7s-graph
                p 活动列表
            li
              a(href='/activity/create')
                i.pe-7s-magic-wand
                p 创建节目
      .main-panel
        nav.navbar.navbar-default.navbar-fixed
          .container-fluid
            .collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='')
                    p Home
                li
                  a(href='#')
                    p Log out
                li.separator.hidden-lg.hidden-md
        .content
          .container-fluid
            .row
              .col-md-12
                .card.card-plain
                  .header
                    h4.title 活动列表
                  .content.table-responsive.table-full-width
                    table.table.table-hover
                      thead
                        tr
                          th 序号
                          th 活动主题
                          th 活动说明
                          th 状态
                          th 操作
                      tbody
    // Core JS Files
    script(src='/assets/js/jquery.3.2.1.min.js', type='text/javascript')
    script(src='/assets/js/bootstrap.min.js', type='text/javascript')
    // Charts Plugin
    // Notifications Plugin
    script(src='/assets/js/bootstrap-notify.js')
    // Light Bootstrap Table Core javascript and methods for Demo purpose
    script(src='/assets/js/light-bootstrap-dashboard.js?v=1.4.0')
    // Light Bootstrap Table DEMO methods, don't include it in your project!
    script(src='/assets/js/demo.js')
    script(type='text/javascript').
     var activities = !{items != null? JSON.stringify(items): 'null'}; 
     $(document).ready(function(){
        var cnt = 0;
        console.log(activities);
        activities.forEach((act) =>{
          $('tbody').append("<tr id=tr" + cnt + "></tr>");
          $('#tr' + cnt).append($("<td>").text(cnt));
          if(act.status == 'ONGOING')
            $('#tr' + cnt).append("<td><a href=/activity/" + activities[cnt]._id + ">" + act.title + "</a></td>");
          else
            $('#tr' + cnt).append("<td>" + activities[cnt].title + "</td>");
          $('#tr' + cnt).append($("<td>").text(act.sub_title));
          $('#tr' + cnt).append($("<td id = td" + cnt + '>').text(act.status));
          if(act.status == "ONGOING")
            $('#tr' + cnt).append("<td><button class='finish button btn btn-danger btn-fill' id=" + cnt + '>结束</button></td>');
          else{
            $('#tr' + cnt).append("<td id=notice" + cnt + ">活动已结束</td>");
            $('#notice' + cnt).css({'color':'red'});
          }
          console.log(act._id);
          if(act.status == 'OVER')
              $('#td' + cnt).css({'color':'red'});
          else
              $('#td' + cnt).css({'color':'green'});
          cnt++;
        }); 
      });
      $(document).on('click','.finish',function(){
        console.log(activities[this.id]._id);
        $.ajax({
          url: '/activity/finish',
          type: 'post',
          data: {'activity_id': activities[this.id]._id},
          datatype: 'json',
          success: function(data){
            window.location = '/activity/list';
          },
          error: function(data){
            alert("结束失败，请重试");
          }
        });
      })
      $(document).on('click','.join',function(){
          window.location = '/activity/' + activities[$(this).attr('id')]._id;
      })
