      ::-webkit-scrollbar{
      display:none;
      }
      .theme{
      position:relative;
      text-align:center;
      width:100%;
      height:auto;
      font-weight:700;
      font-size:4vw;
      color:#212121;
      }
      .total{
      position:relative;
      left:10%;
      height:80%;
      width:80%;
      }
      .rank{
      position:relative;
      width:100%;
      height:auto;
      text-align:center;
      }
      .prize{
      position:relative;
      width:80%;
      }
      .profile{
      position:relative;
      text-align:center;
      height:auto;
      width:100%;
      }
      #pic2{
      position:relative;
      height:90%;
      width:80%;
      border-radius:20px;
      }
      #pic3{
      position:relative;
      height:90%;
      width:80%;
      border-radius:20px;
      }
      #pic1{
      position:relative;
      height:120%;
      width:90%;
      border-radius:20px;
      }
      .candidate{
      position:relative;
      height:40%;
      width:100%;
      }
      .slot{
      position:relative;
      float:left;
      height:100%;
      }
      .name{
      position:relative;
      text-align:center;
      font-weight:800;
      font-size:4vw;
      font-family: "微软雅黑";
      word-break:break-all;
      word-wrap:break-word;
      }
      .score{
      position:relative;
      text-align:center;
      font-family:"宋体",
      font-weight:800;
      font-size:4vw;
      }
      #second{
      position:relative;
      top:20%;
      }
      #third{
      position:relative;
      top:20%;
      }
      #slot2{
      width:30%;
      text-align:right;
      }
      #slot1{
      width:40%;
      text-align:center;
      }
      #slot3{
      width:30%;
      text-align:lefts;
      }
