doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='icon', type='image/png', href='/assets/img/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Light Bootstrap Dashboard by Creative Tim
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    // Bootstrap core CSS
    link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
    // Animation library for notifications
    link(href='/assets/css/animate.min.css', rel='stylesheet')
    // Light Bootstrap Table core CSS
    link(href='/assets/css/light-bootstrap-dashboard.css?v=1.4.0', rel='stylesheet')
    // Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,300', rel='stylesheet', type='text/css')
    link(href='/assets/css/pe-icon-7-stroke.css', rel='stylesheet')
  body
    .wrapper
      .sidebar(data-color='purple', data-image='/assets/img/eye.jpg')
        //
          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag
        .sidebar-wrapper
          .logo
            .simple-text
              | 弹屏目
          ul.nav
            li
              a(href='/activity/screen',target="_blank")
                i.pe-7s-chat
                p 弹幕墙
            li
              a(href='/activity/msglist')
                i.pe-7s-note2
                p 弹幕审核
            li.active
              a(href='/vote/list')
                i.pe-7s-drawer
                p 投票
            li
              a(href='/lottery/list')
                i.pe-7s-medal
                p 抽奖
            li
              a(href='/activity/detail')
                i.pe-7s-config
                p 房间信息
      .main-panel
        nav.navbar.navbar-default.navbar-fixed
          .container-fluid
            .collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='')
                    p Home
                li
                  a(href='#')
                    p Log out
                li.separator.hidden-lg.hidden-md
        .content
          .container-fluid
            .row
              .col-md-8
                .card
                  .header
                    h4.title 创建投票
                  .content
                    form
                      .row
                        .col-md-5
                          .form-group
                            label 投票主题
                            input#title.form-control(type='text')
                      .row
                        .col-md-9
                          .form-group
                            label 投票说明
                            input#subtitle.form-control(type='text')
                      .row
                        .col-md-9
                          label 候选人:
                      .row
                        .col-md-12
                          .AllCandy
                            #CandyArray0.CandyArray

                      button.makeit.btn.btn-info.btn-fill(type='submit') 创建
                      .clearfix
              .col-md-4
                .card.card-user
                  .image
                  .content
                    .author
                      img.avatar.border-gray(src='/assets/img/faces/face-0.jpg', alt='...')
                    .row
                      .col-md-9
                        .form-group
                          label 名字
                          input#GetName.form-control(type='text')
                    .row
                      .col-md-9
                        .form-group
                          label 头像
                          input(type='file' id = 'Name')
                          //input#GetProfile.form-control(type='text')
                        button#AddCandy.btn.btn-info.btn-fill(type='submit') 添加候选人

    // Core JS Files
    script(src='/assets/js/jquery.3.2.1.min.js', type='text/javascript')
    script(src='/assets/js/bootstrap.min.js', type='text/javascript')
    // Charts Plugin
    script(src='/assets/js/chartist.min.js')
    // Notifications Plugin
    script(src='/assets/js/bootstrap-notify.js')
    // Light Bootstrap Table Core javascript and methods for Demo purpose
    script(src='/assets/js/light-bootstrap-dashboard.js?v=1.4.0')
    script.
      var CandyProfile = new Array();
      var CandyName = new Array();
      var CandyNum = 0;
      var ArrayNum = 0;
      $(document).ready(function(){
        $('#AddCandy').click(function(){
          var Name = "Anonymous";
          var Profile = "/assets/img/faces/face-0.jpg";
          if($('#GetName').val() != '' )
            Name = $('#GetName').val();
          if($('#GetProfile').val() != undefined )
            Profile = $('#GetProfile').val();
 
          $('#CandyArray0').append('<div class = Candidates id = Candy'+ CandyNum +'></div>');
          $('#Candy' + CandyNum).append('<div class = Profile id = pic' + CandyNum + '></div>');
          $('#pic' + CandyNum).css("background-image","url(" + Profile +")");
          $('#Candy' + CandyNum).append('<div class = Name>' + Name + '</div>');
          $('#Candy' + CandyNum).append('<a href = "javascript:;" class = DeleteCandy id = ' + CandyNum + '><span class="glyphicon glyphicon-remove" style="color: red;"></span>');
          CandyNum++;
        });
        $(document).on('click','a.DeleteCandy',function(){
            $('#Candy' + this.id).remove();
            console.log('haha');
        });
        $(document).on('click','.makeit',function(){
            var title = $('#title').val();
            var subtitle = $('#subtitle').val();

        });
      });
    
    style.
      div.Candidates{
      position:relative;
      float:left;
      width:50%;
      height:60px;
      }
      div.AllCandy{
      position:relative;
      width:100%;
      height:40px;
      }
      div.Profile{
      position:relative;
      float:left;
      width:60px;
      height:60px;
      background-size:100% 100%;
      background-repeat:no-repeat;
      }
      div.Name{
      position:relative;
      float:left;
      top:50%;
      width:auto;
      height:60px;
      }
      div.CandyArray{
      position:relative;
      height:60px;
      width:100%;
      }
      div.del{
      position:relative;
      z-index:1;
      }
