<body>
  <button> next </button>
      <div class = 'total'></div>
      <div class = 'pic_slot'>
        <img class = 'picture', src="http://thirdwx.qlogo.cn/mmopen/mHhciamkUdIMrdZomD0hqXMpeN6oWCLMtQiaBEj8eHH4sKIXjTaRqM0gCNaib9yGCDh94Rk33X576o1JRHcmeV1YU74TPZ9BhCU/132"/>
      </div>
  </body>
<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"> 
</script>
<script src = "/socket.io/socket.io.js"></script>
<script>
  // socket.io
  var room_id = #{sendData.room_id};
  console.log('he'); 
  var dm_list = new Array();
    $(document).ready(function(){
     console.log('hello');
      var socket = io();
      var data = {'room_id': room_id};
      socket.emit('joinRoom',data);
      socket.on('danmu', function(msg) {
        dm_list.push(msg);
        console.log(msg);
      });
    });
    console.log('hi');
</script>
<script>
  var id = 1;
  var id2 = 1;
  var del = 1;
  var dm_list = new Array();
  function sleep(numberMillis) { 
    var now = new Date(); 
    var exitTime = now.getTime() + numberMillis; 
    while (true) { 
    now = new Date(); 
    if (now.getTime() > exitTime) 
    return; 
    } 
  }
  console.log('hi');
  $(document).ready(function(){
    function delete_DM(){      
      if(dm_list.length > id){
        if (id > 7){
         $("#"+del).remove();
         $("#img"+del).remove();
         $("#name"+del).remove();
         del++;
        }
      }
    }
    function show(){
      if(dm_list.length > id){
        var msg_obj = JSON.parse(dm_list[id - 1]);
        $('div.total').append('<img class = "profile" id = "img'+ id + 'src='+ msg_obj.head_img_url + '/>');
        $('div.total').append('<div class = "name" id = name' + id +'>'+ msg_obj.nickname +'</div>'); 
        $('div.total').append('<div class = "DM" id =' + id +'>'+msg_obj.content+'</div>'); 
        $('div.DM').animate({"bottom": "+=23vh"},500);
        $('img.profile').animate({"bottom": "+=23vh"},500);
        $('div.name').animate({"bottom": "+=23vh"},500);
      }
     }
     function reset_pic(){
     $('img.picture').fadeOut(1000);
     $('img.picture').fadeIn(1000);
     }
     setInterval(show,1800);
     setInterval(reset_pic,4000);
     setInterval(delete_DM,1800);
  });
  //1920:904
</script>

<style>
  ::-webkit-scrollbar{
    display:none;
  }
  button{
    position: absolute;
  }

  img.picture{
    position: absolute;
    left:10%;
    top:10%;
    width:80%;
    height:80%;
    border-radius: 20px;
  }

  div.DM {
    background: rgba(0, 0, 0, 0.3);
    width: 31vw;
    height: 16.5vh;
    bottom: 0px;
    left:5vw;
    position:absolute;
    text-align: center;
    color: white;
    border-radius: 20px;
  }
  div.pic_slot{
    background: rgba(0, 0, 0, 0.3);
    width: 31vw;
    height: 60vh;
    bottom: 0px;
    right:1vw;
    bottom:1vw;
    position:absolute;
    text-align: center;
    color: white;
    border-radius: 20px;
  }
  div.name{
    position: absolute;
    width: 10vh;
    height: 3.3vh;
    left: 23.2vh;
    color:black;
    bottom: 16.6vh;
  }

  img.profile{
    position: absolute;
    width: 5.5vh;
    height: 5.5vh;
    left: 16.6vh;
    bottom: 16.6vh;
    border-radius: 10px;
  }

  div.total {
    float:left;
    width: 50%;
    height: 100%;
    position:relative;
    left:1%;
    text-align: center;
    color: white;
  }
  body, html {
    background: url(/images/testbg4.gif);
    background-size:cover;
    width: 100%;  
    height: 100%;
    margin: 0;
  }
</style><body>
  <button> next </button>
      <div class = 'total'></div>
      <div class = 'pic_slot'>
        <img class = 'picture', src="http://thirdwx.qlogo.cn/mmopen/mHhciamkUdIMrdZomD0hqXMpeN6oWCLMtQiaBEj8eHH4sKIXjTaRqM0gCNaib9yGCDh94Rk33X576o1JRHcmeV1YU74TPZ9BhCU/132"/>
      </div>
  </body>
<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"> 
</script>
<script src = "/socket.io/socket.io.js"></script>
<script>
  // socket.io
  var room_id = #{sendData.room_id};
  console.log('he'); 
  var dm_list = new Array();
    $(document).ready(function(){
     console.log('hello');
      var socket = io();
      var data = {'room_id': room_id};
      socket.emit('joinRoom',data);
      socket.on('danmu', function(msg) {
        dm_list.push(msg);
        console.log(msg);
      });
    });
    console.log('hi');
</script>
<script>
  var id = 1;
  var id2 = 1;
  var del = 1;
  var dm_list = new Array();
  function sleep(numberMillis) { 
    var now = new Date(); 
    var exitTime = now.getTime() + numberMillis; 
    while (true) { 
    now = new Date(); 
    if (now.getTime() > exitTime) 
    return; 
    } 
  }
  console.log('hi');
  $(document).ready(function(){
    function delete_DM(){      
      if(dm_list.length > id){
        if (id > 7){
         $("#"+del).remove();
         $("#img"+del).remove();
         $("#name"+del).remove();
         del++;
        }
      }
    }
    function show(){
      if(dm_list.length > id){
        var msg_obj = JSON.parse(dm_list[id - 1]);
        $('div.total').append('<img class = "profile" id = "img'+ id + 'src='+ msg_obj.head_img_url + '/>');
        $('div.total').append('<div class = "name" id = name' + id +'>'+ msg_obj.nickname +'</div>'); 
        $('div.total').append('<div class = "DM" id =' + id +'>'+msg_obj.content+'</div>'); 
        $('div.DM').animate({"bottom": "+=23vh"},500);
        $('img.profile').animate({"bottom": "+=23vh"},500);
        $('div.name').animate({"bottom": "+=23vh"},500);
      }
     }
     function reset_pic(){
     $('img.picture').fadeOut(1000);
     $('img.picture').fadeIn(1000);
     }
     setInterval(show,1800);
     setInterval(reset_pic,4000);
     setInterval(delete_DM,1800);
  });
  //1920:904
</script>

<style>
  ::-webkit-scrollbar{
    display:none;
  }
  button{
    position: absolute;
  }

  img.picture{
    position: absolute;
    left:10%;
    top:10%;
    width:80%;
    height:80%;
    border-radius: 20px;
  }

  div.DM {
    background: rgba(0, 0, 0, 0.3);
    width: 31vw;
    height: 16.5vh;
    bottom: 0px;
    left:5vw;
    position:absolute;
    text-align: center;
    color: white;
    border-radius: 20px;
  }
  div.pic_slot{
    background: rgba(0, 0, 0, 0.3);
    width: 31vw;
    height: 60vh;
    bottom: 0px;
    right:1vw;
    bottom:1vw;
    position:absolute;
    text-align: center;
    color: white;
    border-radius: 20px;
  }
  div.name{
    position: absolute;
    width: 10vh;
    height: 3.3vh;
    left: 23.2vh;
    color:black;
    bottom: 16.6vh;
  }

  img.profile{
    position: absolute;
    width: 5.5vh;
    height: 5.5vh;
    left: 16.6vh;
    bottom: 16.6vh;
    border-radius: 10px;
  }

  div.total {
    float:left;
    width: 50%;
    height: 100%;
    position:relative;
    left:1%;
    text-align: center;
    color: white;
  }
  body, html {
    background: url(/images/testbg4.gif);
    background-size:cover;
    width: 100%;  
    height: 100%;
    margin: 0;
  }
</style>
