doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title danpingmu
    link(rel='stylesheet', href='style.css', type='text/css', media='screen')

    link(rel='stylesheet', href='js/slide/default.css', type='text/css', media='screen')
    link(rel='stylesheet', href='js/slide/nivo-slider.css', type='text/css', media='screen')

    script(src='/js/ajax.js',text='text/javascript')
    script(type='text/javascript', src='js/fancybox/jquery.fancybox-1.3.4.pack.js')
    link(rel='stylesheet', type='text/css', href='js/fancybox/jquery.fancybox-1.3.4.css', media='screen')
    script.
      var id = !{id !=null? JSON.stringify(id):'null'};
      console.log(id);
      $(document).ready(function() {
        $("a#fancybox").fancybox();
        if(id.login == true){
          $('#iflogin').text('你好!'); 
          $('#iflogin').append('<a style="font-size:15px;" href=/activity/list>' + id.admin_id + '&nbsp&nbsp&nbsp&nbsp</a>');
          $('#log').text('登出');
        }
        $('#log').click(function(){
          if(id.login == true){
            console.log('ha');
            $.ajax({
              url: '/auth/logout',
              type: 'post',
              data: {'cmd': 'logout'},
              datatype: 'json',
              success:function(data){
                alert("成功登出！");
                window.location= '/';
              },
              error:function(data){
                alert("您已登出");
              }
            })
          }
          else
            window.location = "/auth/login";
        });
        if(id.login == true)
          $('#info').append("<a href='/activity/list' style='color:blue;font-size:15px'>&nbsp&nbsp 管理者页面</a>");
      });


    style.
      .fancy a img {
      border: 1px solid #BBB;
      padding: 2px;
      margin: 10px 20px 10px 0;
      vertical-align: top;
      }
      .fancy a img.last {
      margin-right: 0;
      }
    // FANCY BOX
  body
    .header
      #logo
        a(href='/')
          img(alt='logo', src='images/logo.png')
        // <span>Free HTML5 Template</span>
      .nav
        // start navigation				
        ul
          li.login(id='info')
            br
            label(id = 'iflogin' style='font-size:15px') 您还未登陆  
            a(id='log', href='javascript:void(0)',style='color:red;font-size:15px') &nbsp&nbsp登陆
        ul
          li.title
            a(href='#') About
          li
            a(href='#') THUDM team 
          li
            a(href='#') Our blog
        ul
          li.title
            a Customer Center
          li
            a(href='#') Feedback
          li
            a(href='#') Q&A

    
    #body-wrapper.clearfix
      // start body-wrapper
      .slider-wrapper.theme-default(style='padding-top:100px;')
        #slider.nivoSlider
          img(src='images/slide1.png', alt='slider image 1')
          img(src='images/slide2.png', alt='slider image 2')
      .box
        h1 
          p 和弹屏目一起，开始你的学生节！
      .one_fourth
        // start top half content
        .fancy
          a#fancybox(href='images/210-150-1.png')
            img(alt='fancybox', src='images/210-150-1.png')
      .one_fourth
        .fancy
          a#fancybox(href='images/210-150-2.png')
            img(alt='fancybox', src='images/210-150-2.png')
      .one_fourth
        .fancy
          a#fancybox(href='images/210-150-3.png')
            img(alt='fancybox', src='images/210-150-3.png')
      .one_fourth.column-last
        .fancy
          a#fancybox(href='images/210-150-4.png')
            img(alt='fancybox', src='images/210-150-4.png')
      // end top half content
      .clear
      .one_fourth
        h3 红包
        p
          | 可以发送红包	
      .one_fourth
        h3 投票
        p
          | 可以投票
      .one_fourth
        h3 抽奖
        p
          | 可以抽奖
      .one_fourth.column-last
        h3 弹幕
        p
          | 可以发弹幕
    
      .clear
      #footer-main
        // start footer-main
        .one_fourth
          h3 适用
          p
            | 适用于学校各种学生节活动！
        .one_fourth
          h3 操作
          p
            | 弹屏目操作简单！
        .one_fourth
          h3 提供
          p
            | 弹屏目提供丰富多样的功能！
        .one_fourth.column-last
          h3 效果
          p
            | 弹屏目拥有炫酷的效果！
      // end footer-main
      #footer
        p#footer-text
          | © Copyright 2011 
          a trinity
          |  by
          a Maki Myers
    // end-body wrapper
    // Nivo Slider
    script(type='text/javascript', src='js/slide/jquery.nivo.slider.pack.js')
    script(type='text/javascript').
      $(window).load(function() {
      $('#slider').nivoSlider();
      });
    // Nivo Slider
