script.
  !window.jQuery && document.write('<script src="js/jquery-1.4.3.min.js"><\\/script>');

html
  head
    link(rel='stylesheet', href='./style.css', type='text/css', media='screen')
  body 
   .header
      #logo
        a(href='http://www.makimyers.co.uk/')
          img(alt='logo', src='images/logo.png')
    block content
