doctype html
html
  head
    link(rel='stylesheet', href='./style.css', type='text/css', media='screen')
  body 
   .header
      #logo
        a(href='http://www.makimyers.co.uk/')
          img(alt='logo', src='images/logo.png')
    block content
