doctype html
html
  head
    meta(charset='utf-8')
    link(rel='icon', type='image/png', href='/assets/img/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title 弹屏目 
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    // Bootstrap core CSS
    link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
    // Animation library for notifications
    link(href='/assets/css/animate.min.css', rel='stylesheet')
    // Light Bootstrap Table core CSS
    link(href='/assets/css/light-bootstrap-dashboard.css?v=1.4.0', rel='stylesheet')
    // Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    //link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,300', rel='stylesheet', type='text/css')
    link(href='/assets/css/pe-icon-7-stroke.css', rel='stylesheet')
    link(href='/assets/css/font-awesome.css', rel='stylesheet')
    script(src='/js/ajax.js').
      $(document).on('click','#login',function(){
         window.location = '/auth/logout';
      });
      
  body
    .wrapper
      .sidebar(data-color='purple', data-image='/assets/img/eye.jpg')
        //
          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag
        .sidebar-wrapper
          .logo
            .simple-text
              | 弹屏目
          ul.nav
            li#MM5
              a(href='/activity/detail')
                i.fa.fa-cogs(style="position:relative;top:0.4vh;")
                h5 活动设置
            li#MM1
              a(href='/msglist')
                i.fa.fa-list-alt(style="position:relative;top:0.4vh;")
                h5 弹幕审核
            li#MM2
              a(href='/vote/list')
                i.fa.fa-inbox(style="position:relative;top:0.4vh;")
                h5 投票
            li#MM3
              a(href='/lottery/list')
                i.fa.fa-gift(style="position:relative;top:0.4vh;")
                h5 抽奖
            li#MM4
              a(href='/blacklist')
                i.fa.fa-user-times(style="position:relative;top:0.2vh;")
                h5 黑名单/过滤词
            li
              a(href='/screen',target="_blank")
                i.fa.fa-comments(style="position:relative;top:0.2vh;")
                h5 弹幕墙
            li
              a(href='/ticket',target="_blank")
                i.fa.fa-qrcode(style="position:relative;top:0.6vh;")
                h5 QRCODE

      .main-panel
        nav.navbar.navbar-default.navbar-fixed
          .container-fluid
            .collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='')
                    p Home
                li
                  a(href='/' id='logout')
                    p Log out
                li.separator.hidden-lg.hidden-md
        
        
        block contents

    block script
