extends layout

block content
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2  
     form(method="post",action='/login')
        div.input
            span Username:&nbsp 
            input.username(type="text")
        
        div.input
            span PassWord:&nbsp&nbsp
            input(type="password",)
            input.password(type='submit',value="Login") 
        p 没有账号？
            a(href = "/signup")注册
     
            