doctype html
html
  head
    meta(charset='utf-8')
    title 管理员后台
    link(rel='stylesheet', type='text/css', href='nav.css')
    link(rel='stylesheet', type='text/css', href='font/iconfont.css')
    script(type='text/javascript', src='../js/manage/jquery.min.js')
    script(type='text/javascript', src='../js/manage/nav.js')
  body
    .nav
      .nav-top
        #mini(style='border-bottom:1px solid rgba(255,255,255,.1)')
          img(src='../images/mini.png')
      ul
        li.nav-item
          a(href='javascript:;')
            i.my-icon.nav-icon.icon_1
            span 活动设置
            i.my-icon.nav-more
          ul
            li 
              a(href='javascript:;')
                span 基本信息
            li 
              a(href='javascript:;')
                span 二维码获取
        li.nav-item
          a(href='javascript:;')
            i.my-icon.nav-icon.icon_2
            span 互动设置
            i.my-icon.nav-more
          ul
            li
              a(href='javascript:;')
                span 抽奖
            li
              a(href='javascript:;')
                span 投票
            li
              a(href='javascript:;')
                span 摇红包
        li.nav-item
          a(href='javascript:;')
            i.my-icon.nav-icon.icon_3
            span 弹幕设置
            i.my-icon.nav-more
          ul
            li
              a(href='javascript:;')
                span 弹幕审核
            li
              a(href='javascript:;')
                span 弹幕样式
            li
              a(href='javascript:;')
                span 弹幕过滤
    div(style="text-align:center;margin:-650px 0; font:normal 14px/24px 'MicroSoft YaHei';")
      p 欢迎来到XXX学生节！
