doctype html
html
  head
    meta(charset='utf-8')
    link(rel='icon', type='image/png', href='assets/img/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Light Bootstrap Dashboard by Creative Tim
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    // Bootstrap core CSS
    link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
    // Animation library for notifications
    link(href='/assets/css/animate.min.css', rel='stylesheet')
    // Light Bootstrap Table core CSS
    link(href='/assets/css/light-bootstrap-dashboard.css?v=1.4.0', rel='stylesheet')
    // Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,300', rel='stylesheet', type='text/css')
    link(href='/assets/css/pe-icon-7-stroke.css', rel='stylesheet')
  body
    .wrapper
      .sidebar(data-color='purple', data-image='/assets/img/eye.jpg')
        //
          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag
        .sidebar-wrapper
          .logo
            .simple-text
              | 弹屏目
          form(action='/activity/upload/bg', method='POST', enctype='multipart/form-data')
            | Select an image to upload:
            input(type='file', name='bg_image')
            input(type='submit', value='Upload Image')
          ul.nav
            li
              a(href='user.html')
                i.pe-7s-user
                p 弹幕墙
            li.active
              a(href='dashboard.html')
                i.pe-7s-graph
                p 弹幕审核
            li
              a(href='user.html')
                i.pe-7s-user
                p 投票
            li
              a(href='user.html')
                i.pe-7s-user
                p 抽奖
            li
              a(href='user.html')
                i.pe-7s-user
                p 活动信息
      .main-panel
        nav.navbar.navbar-default.navbar-fixed
          .container-fluid
            .collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='')
                    p Home
                li
                  a(href='#')
                    p Log out
                li.separator.hidden-lg.hidden-md
        .content
          .container-fluid
            .row
              .col-md-12
                .card.card-plain
                  .header
                    h4.title 活动列表
                  .content.table-responsive.table-full-width
                    table.table.table-hover
                      thead
                        tr  
                          th
                            input#all.check(type='checkbox')
                            | NO
                          th 昵称
                          th 内容
                          th 状态
                      tbody
    // Core JS Files
    script(src='/assets/js/jquery.3.2.1.min.js', type='text/javascript')
    script(src='/assets/js/bootstrap.min.js', type='text/javascript')
    // Charts Plugin
    // Notifications Plugin
    script(src='/assets/js/bootstrap-notify.js')
    // Light Bootstrap Table Core javascript and methods for Demo purpose
    script(src='/assets/js/light-bootstrap-dashboard.js?v=1.4.0')
    // Light Bootstrap Table DEMO methods, don't include it in your project!
    script(type='text/javascript').
      $(document).ready(function(){
      $.notify({
      icon: 'pe-7s-gift',
      message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."
      },{
      type: 'info',
      timer: 4000
      });
      });



// socket.io
script(src='/socket.io/socket.io.js')
script.
  var activity_id = !{activity_id != null? JSON.stringify(activity_id): 'null'};
  var msg_list = !{msg_list != null? JSON.stringify(msg_list): 'null'};
  
  $(function() {
    var socket = io();
    var data = {'activity_id': activity_id};
    socket.emit('joinActivity', data);
    console.log('activity_id: ', activity_id);
    console.log('msg_list: ', msg_list);
    
    msg_list.forEach((msg) => {
       $('tbody').append("<tr id=" + msg.id + "></tr>");
       $('#' + msg.id).append("<td><input type='checkbox' class = check id =" + msg.id + '>' + msg.id);
       $('#' + msg.id).append($("<td>").text(msg.nickname));
       $('#' + msg.id).append($("<td>").text(msg.content));
       $('#' + msg.id).append($("<td>").text(msg.review_flag));
    });

    for (let msg of msg_list) {
      socket.emit('passReview', msg);
    }

    socket.on('review', function(data) {
      console.log('on review: ', data);
      msg_obj = JSON.parse(data.msg);
      $("#messages").append($('<li>').text(msg_obj.content));
      socket.emit('passReview', data);
    });
  });
