doctype html
html
  head
    meta(charset='UTF-8')
    title 弹幕审核
    script(src='js/jquery-1.4.3.min.js')
    script.
      function aa() {
      var name = $("#name").val();
      var content = $("#content").val();
      if(name == null || name.length == 0){ 
        alert("名字不能为空！");
        return;}
      if(content == null || content.length == 0){
        alert("弹幕内容不能为空！");
        return;}
      $("table").append("<tr><td><input type='checkbox' name='ck'></td><td>" + name + "</td><td>" + content +"</td><td><button onclick='allow(this)'>发送</button>"+"  <button onclick='refuse(this)'>拒绝</button></td></tr>");
      }
      function refuse(a){
      $(a).parent().parent().remove();
      }
      function allow(a){
      $(a).parent().parent().remove();
      }
      function ckall(e){
      var es= $(":input[name='ck']");
      for(var i=0;i<es.length;i++){
      es[i].checked=e.checked;
      }
      }
      function piliang(){
      var checks=$(":checked[name=ck]");
      if (checks.length==0) {
      alert("请至少选择一条！");
      return;
      }
      for(var i in checks){
      checks[i].parentNode.parentNode.remove();
      }
      }
    style.
      *{
      padding: 0;
      margin: 0;
      }
  body(style='margin: 0 auto;')
    div
      | 姓名
      input#name
      | 弹幕
      input#content
      button(onclick='aa()') 添加
      br
      button(onclick='piliang()') 批量通过
    div
      table(style='padding: 1px;width: 700px;margin-top: 5px;', border='1')
        tbody
          tr(style='background-color: #919191;')
            td
              input(type='checkbox', name='chee', onchange='ckall(this)')
            td 姓名
            td 弹幕内容
            td 操作
   
