html
  head
  body
    script(src='ajax.js')
    .total
      #slot1.slot
        #second.candidate
          .rank
            img.prize(src='secondprize.png')
          .profile
            img#pic1.pic(src='WeChat Image_20181130163441.jpg')
          .name
            | haha
          .score
            | haha
      #slot2.slot
        #first.candidate
          .rank
            img.prize(src='firstprize.png')
          .profile
            img#pic2.pic(src='WeChat Image_20181130163441.jpg')
          .name
            | haha
          .score
            | haha
      #slot3.slot
        #second.candidate
          .rank
            img.prize(src='thirdprize.png')
          .profile
            img#pic3.pic(src='WeChat Image_20181130163441.jpg')
          .name
            | haha
          .score
            | haha
    style.
      .total{
      position:relative;
      left:10%;
      height:80%;
      width:80%;
      }
      .rank{
      position:relative;
      width:100%;
      height:auto;
      text-align:center;
      }
      .prize{
      position:relative;
      width:80%;
      }
      .profile{
      position:relative;
      text-align:center;
      height:auto;
      width:100%;
      }
      #pic1{
      position:relative;
      height:90%;
      width:80%;
      border-radius:20px;
      }
      #pic3{
      position:relative;
      height:90%;
      width:80%;
      border-radius:20px;
      }
      #pic2{
      position:relative;
      height:120%;
      width:90%;
      border-radius:20px;
      }
      .candidate{
      position:relative;
      height:40%;
      width:100%;
      }
      .slot{
      position:relative;
      float:left;
      height:100%;
      }
      .name{
      position:relative;
      text-align:center;
      font-weight:800;
      font-size:4vw;
      }
      .score{
      position:relative;
      text-align:center;
      font-weight:800;
      font-size:4vw;
      }
      #second{
      position:relative;
      top:20%;
      }
      #third{
      position:relative;
      top:20%;
      }
      #slot1{
      width:30%;
      text-align:right;
      }
      #slot2{
      width:40%;
      text-align:center;
      }
      #slot3{
      width:30%;
      text-align:lefts;
      }
