html
  head
  body
    link(href='/CSS/result.css',rel='stylesheet')
    script(src='/js/ajax.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript').
      var candidate = !{candidate != null? JSON.stringify(candidate): 'null'};
      var winner = new Array;
      var socket = io();
      $(document).ready(function(){
        var data = {'activity_id': candidate.activity_id};
        socket.emit('joinActivity', data);
        socket.on('quitVote', function(data){
          window.location = '/screen';
        });
        candidate.options = JSON.parse(candidate.options);
        $('div.theme').text(candidate.title); 
        for(var i = 0; i < candidate.options.length; i++){
          winner[i] = i;
          if(candidate.result == null){
            candidate.result = new Array();
            candidate.result[0]="0";
          }
          if(candidate.result[i] == undefined){
            candidate.result[i] = "0";
          }
        }
        for(var i = 0; i < candidate.options.length; i++)
          for(var j = i; j < candidate.options.length; j++){
            if(parseInt(candidate.result[winner[i]],10) < parseInt(candidate.result[winner[j]],10)){
              var temp = winner[i];
              winner[i] = winner[j];
              winner[j] = temp;
            }
          }
         for(var i = 0;i < candidate.options.length; i++){
           var path = candidate.pic_urls[i];
           $('#pic' + (i + 1)).attr('src', path);
           $('#name' + (i + 1)).text(candidate.options[winner[i]]);
           $('#score' + (i + 1)).text(candidate.result[winner[i]] + '票');
           if (i === 2)
             break;
         }
      });
    .theme
    .total
      #slot2.slot
        #second.candidate
          .rank
            img.prize(src='/images/result/secondprize.png')
          .profile
            img#pic2.pic()
          #name2.name
          #score2.score
      #slot1.slot
        #first.candidate
          .rank
            img.prize(src='/images/result/firstprize.png')
          .profile
            img#pic1.pic()
          #name1.name
          #score1.score
      #slot3.slot
        #second.candidate
          .rank
            img.prize(src='/images/result/thirdprize.png')
          .profile
            img#pic3.pic()
          #name3.name
          #score3.score

