doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    |     
    title 弹屏目
    // js
    script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
    |     
    script(type="text/javascript", ,="", src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js")
      !window.jQuery && document.write('<script src="js/jquery-1.4.3.min.js"><\\/script>');

    // --------------CSS STYLE----------------
    style(type="text/css").
      body{
      background-image: url('images/background.png');
      background-repeat: no-repeat;
      }
      #boxDom {
      bottom:0;
      height:100%;
      width:100%;
      justify-content: center; /* align horizontal */
      }
      .string{
      bottom: -500px; 
      display: flex;
      padding: 8px 0;
      width:500px;
      font-family: "微软雅黑";
      height: 50px;
      margin: 0 auto;
      color:rgb(0, 0, 0);
      font-size: 30px;
      background-image: url('images/message.png');
      background-repeat: no-repeat;
      }
      .foot {
          position:fixed;
          width: 600px;
          height: 1000px;
          z-index: 10000;
          text-align:center;
          height: 500px;
          font-size:18px;
          display: flex;
          border-top-left-radius:25px;
          border-top-right-radius:25px;
          right: 0;
          left: 0;
          margin-right: auto;
          margin-left: auto;
          bottom: -400px;
      }

      .slide-up {
          bottom: 0px !important;
      }

      .slide-down {
          bottom: -475px !important;
      }
  |   
  body
    div.foot
        #boxDom.boxDom

script(src='/socket.io/socket.io.js')
script.
  $(function() {
    var socket = io();
    var index = 0;
    socket.on('danmu', function(data) {
      var msg_obj = JSON.parse(data.msg);
      var content = msg_obj.content;
      var message = $("<div class = 'foot string'></div>");
      message.text(content);
      $('#boxDom').append(message);
      setInterval(() => { 
        message.animate({"bottom": "+=80px"}, 1000); }, 3000);
      });
    });
//script.
//  $(document).ready(function(){
//  $("#btn").click(function (){
//  var msg = $("<p class = 'string'></p>")
//  var text =  $("#text").val();
//  msg.text(text);
//  $('#boxDom').append(msg);
//  })
//  })
