doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8" )
    |     
    title 弹屏目
    
    link(href='/CSS/screen.css', rel='stylesheet')
    script(src="/js/ajax.js")
    |     
    script(src='/socket.io/socket.io.js')
    script.
        function Queue(size){
          var list = [];
          this.push = function(data){
            if (data == null){
              return false;
            }
            if (size != null && !isNaN(size)){
              if (list.length == size){
                tihs.pop();
              }
            }
            list.unshift(data);
            return true;
          }
          this.pop = function(){
            return list.pop();
          }
          this.size = function(){
            return list.length;
          }
          this.quere = function(){
            return list;
          }
        }

        var dm_cnt = 1;
        const pic_limit = 30; // FIXME
        var dm_list = new Queue();
        var pic_list = new Queue();
        var displaystart = 0;
        var activity = !{items !=null? JSON.stringify(items): 'null'};
        var bullet_colors = JSON.parse(activity.bullet_colors);
        $(function() {
          var socket = io();
          var data = {'activity_id': activity._id};
          socket.emit('joinActivity', data);

          socket.on('danmu', function(data) {
            var msg_obj = data.data;
            if(msg_obj.type == "text")
              dm_list.push(data);
            else{
              pic_list.push(data);
              displaystart = 1;
            }
          });
          socket.on('lottery', function(data) {
            window.location = '/lottery/' + data._id + '/draw'; 
          });
          socket.on('vote', function(data) {
            window.location = '/vote/' + data._id + '/result';
          });
        });
        var id = 1;
        var id2 = 1;
        var del = 1;
        $(document).ready(function(){
          $('body').css('background-image','url(' + activity.bg_img_url + ')');
          function delete_DM(){
            if (id - del > 15){
                $("#"+del).remove();
                $("#img"+del).remove();
                $("#name"+del).remove();
                del++;
            }
          }
          function show(){
            if(dm_list.size() > 0){
              var msg_obj = dm_list.quere()[dm_list.size() - 1].data;
              $('div.total').append('<div class = "DM" id =' + id +'>'+'</div>');
              $('#' + id).append('<img class = "profile" id = img'+ id + ' src="'+ msg_obj.head_img_url + '"/>');
              $('#' + id).append("<div class = 'info' id = info" + id +'>' + '</div>');
              $('#info' + id).append("<div class = 'name' id = name" + id +'>'+ msg_obj.nickname +'</div>');
              $('#info' + id).append("<div class = 'content' id = content" + id +'>'+ msg_obj.content +'</div>');
              $('div.DM').animate({"bottom": "+=23vh"},500);

              if(bullet_colors.length > 0){
                var color_num = Math.floor(Math.random() * 101) % bullet_colors.length;
                $('#content' + id).css("color", bullet_colors[color_num]);
              }
              id = id + 1;
              dm_list.pop();
            }
          }
          var fadeflag = 0;
          var picflag = 0;
          var pic_cnt = 0;
          var first = 0;
          var pic_free = new Queue();
          function reset_pic(){ 
            if(fadeflag == 5){
              $('img.picture').fadeOut(500);
              fadeflag = 0;
              picflag = 0;
            }
            else if(fadeflag == 1 && picflag == 0 && displaystart){
              $('img.picture').fadeIn(500);
              picflag = 1;
              fadeflag++;
              if(pic_list.size() > 0){
                var msg_obj = pic_list.quere()[pic_list.size() - 1].data;
                pic_free.push(msg_obj.content);
                if(pic_free.size() > pic_limit)//决定留下的图片的个数
                  pic_free.pop();

                pic_list.pop();
                $('img.picture').attr('src','../images/activity/' + activity._id + '/fromuser/' + msg_obj.content + '.png');
              }
              else {
                 if(pic_cnt == 0 && first == 0){
                   pic_cnt = pic_free.size();
                   if(pic_cnt != 0){
                     pic_cnt--;
                     first = 1;
                   }
                 }
                 if(pic_free.size() > 0){
                   $('img.picture').attr('src','../images/activity/' + activity._id + '/fromuser/' + pic_free.quere()[pic_cnt] + '.png');
                   pic_cnt--;
                   if(pic_cnt == -1)
                     pic_cnt = pic_free.size() - 1;
                 }
              }
            }
            else
              fadeflag++;
          }
          setInterval(show,1800);
          setInterval(reset_pic,400);
          setInterval(delete_DM,1800);
        });
  body.bg 
    .total
    .pic_slot
      img.picture(style='display:none')
      //1920:904



