doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8" )
    |     
    title 弹屏目
    // js
    script(src="/js/ajax.js")
    |     
    script(src='/socket.io/socket.io.js')
    script.
        function Queue(size){
          var list = [];
          this.push = function(data){
            if (data == null){
              return false;
            }
            if (size != null && !isNaN(size)){
              if (list.length == size){
                tihs.pop();
              }
            }
            list.unshift(data);
            return true;
          }
          this.pop = function(){
            return list.pop();
          }
          this.size = function(){
            return list.length;
          }
          this.quere = function(){
            return list;
          }
        }

        var dm_cnt = 1;
        const pic_limit = 30; // FIXME
        var dm_list = new Queue();
        var pic_list = new Queue();
        //var activity_id = !{activity_id != null? JSON.stringify(activity_id): 'null'};
        var activity = !{items !=null? JSON.stringify(items): 'null'};
        var bullet_colors = JSON.parse(activity.bullet_colors);
        $(function() {
          console.log(activity);
          var socket = io();
          var data = {'activity_id': activity._id};
          socket.emit('joinActivity', data);

          socket.on('danmu', function(data) {
            var msg_obj = data.msg;
            console.log(msg_obj);
            if(msg_obj.type == "text")
              dm_list.push(data);
            else
              pic_list.push(data);
          });
          socket.on('lottery', function(data) {
            console.log(data);
              window.location = '/lottery/' + data._id + '/draw'; 
          });
          socket.on('vote', function(data) {
            console.log(data);
            window.location = 'vote/' + data._id + '/result';
          });
        });
        var id = 1;
        var id2 = 1;
        var del = 1;
        $(document).ready(function(){
          $('body').css('background-image','url(' + activity.bg_img_url + ')');
          function delete_DM(){
            if (id - del > 15){
                $("#"+del).remove();
                $("#img"+del).remove();
                $("#name"+del).remove();
                del++;
            }
          }
          function show(){
            if(dm_list.size() > 0){
              var msg_obj = dm_list.quere()[dm_list.size() - 1].msg;
              $('div.total').append('<div class = "DM" id =' + id +'>'+'</div>');
              $('#' + id).append('<img class = "profile" id = img'+ id + ' src="'+ msg_obj.head_img_url + '"/>');
              $('#' + id).append("<div class = 'info' id = info" + id +'>' + '</div>');
              $('#info' + id).append("<div class = 'name' id = name" + id +'>'+ msg_obj.nickname +'</div>');
              $('#info' + id).append("<div class = 'content' id = content" + id +'>'+ msg_obj.content +'</div>');
              $('div.DM').animate({"bottom": "+=23vh"},500);
              

              if(bullet_colors.length > 0){
                var color_num = Math.floor(Math.random() * 101) % bullet_colors.length;
                console.log(color_num);
                $('#content' + id).css("color", bullet_colors[color_num]);
              }
              id = id + 1;
              dm_list.pop();
            }
          }
          var fadeflag = 0;
          var picflag = 0;
          var pic_cnt = 0;
          var first = 0;
          var pic_free = new Queue();
          function reset_pic(){ 
            if(fadeflag == 5){
              $('img.picture').fadeOut(500);
              fadeflag = 0;
              picflag = 0;
            }
            else if(fadeflag == 1 && picflag == 0){
              $('img.picture').fadeIn(500);
              picflag = 1;
              fadeflag++;
              if(pic_list.size() > 0){
                var msg_obj = JSON.parse(pic_list.quere()[pic_list.size() - 1].msg);
                pic_free.push(msg_obj.content);
                if(pic_free.size() > pic_limit)//决定留下的图片的个数
                  pic_free.pop();

                pic_list.pop();
                console.log(msg_obj.content);
                $('img.picture').attr('src','../images/activity/' + activity._id + '/fromuser/' + msg_obj.content + '.png');
              }
              else {
                 if(pic_cnt == 0 && first == 0){
                   pic_cnt = pic_free.size();
                   if(pic_cnt != 0){
                     pic_cnt--;
                     first = 1;
                   }
                 }
                 if(pic_free.size() > 0){
                   $('img.picture').attr('src','../images/activity/' + activity._id + '/fromuser/' + pic_free.quere()[pic_cnt] + '.png');
                   pic_cnt--;
                   console.log('pic_free',pic_free.size());
                   if(pic_cnt == -1)
                     pic_cnt = pic_free.size() - 1;
                 }
              }
            }
            else
              fadeflag++;
          }
          setInterval(show,1800);
          setInterval(reset_pic,400);
          setInterval(delete_DM,1800);
        });
  body.bg 
    .total
    .pic_slot
      img.picture
      //1920:904
    style(type="text/css").
      ::-webkit-scrollbar{
      display:none;
      }
      button{
      position: absolute;
      }
      img.picture{
      position: absolute;
      left:5%;
      top:5%;
      width:90%;
      height:90%;
      border-radius: 20px;
      }
      div.DM {
      background: rgba(0, 0, 0, 0.3);
      width: 55vw;
      height: 18vh;
      bottom: -20vh;
      left:15%;
      position:absolute;
      text-align: center;
      color: white;
      border-radius: 20px;
      }
      div.pic_slot{
      background: rgba(0, 0, 0, 0.3);
      width: 26vw;
      height: 54.6vh;
      bottom: 0px;
      right:1vw;
      bottom:1vw;
      position:absolute;
      text-align: center;
      color: white;
      border-radius: 20px;
      }
      div.name{
      position: relative;
      width: 100%;
      height: 20%;
      color:white;
      text-align:left;
      font-size: 1.5vw;
      overflow: auto;
      }
      div.content{
      position: relative;
      width: 100%;
      height: 80%;
      color:white;
      text-align:left;
      font-size: 3vw;
      display:block;
      overflow: auto;
      word-break: break-all;
      word-wrap: break-word;
      }
      img.profile{
      position: relative;
      float:left;
      width: 20%;
      height: 100%;
      border-radius: 10px;
      }
      div.info{
        position:relative;
        float:left;
        width: 80%;
        height: 100%;
      }
      div.total {
      float:left;
      width: 50%;
      height: 100%;
      position:relative;
      left:1%;
      text-align: center;
      color: white;
      }
      body, html {
      background: url(/images/testbg4.gif);
      background-size:100% 100%;
      background-repeat:no-repeat;
      width: 100%;
      height: 100%;
      margin: 0;
      }
