html
  head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='style.css', type='text/css', media='screen')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.js")
    script(src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js")

    script(script type="text/javascript")
    script.
      var err = !{err != null? JSON.stringify(err): 'null'};
      if (err) {alert(err.message);}

      $(document).on('click','#signup',function(){
        var input_id = $('#input_id').val();
        var input_pw = $('#input_pw').val();
        var input_confirm = $('#input_confirm').val();
        var input_email = $('#input_email').val();
       
        if(input_id==null||input_id.length==0){
          alert("Please confirm your ID.");
          return;
        }
        if(input_pw==null||input_pw.length==0){
          alert("Please confirm your password.");
          return;
        }
        if(!(input_confirm == input_pw)){
          alert("Please confirm your password.");
          return;
        }
        if(input_pw.length < 8){
            alert("The length of password should be longer than 8.");
            return;
        }
        var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
        if (!reg.test(input_email)) {
            alert("Please confirm your Email.");
            return;
        }
        input_pw = md5(input_pw);
        $.ajax({
          url:'/auth/signup',
          type:'post',
          data:{'input_id': input_id, 'input_pw': input_pw, 'input_confirm': input_confirm, 'input_email': input_email},
          datatype: 'json',
          success: function(data){
            window.location = "/auth/login";
          },
          error: function(data){
            alert("创建失败，请重试！");
          }
        }) 
      });

  
  body#LoginForm
    .container
      .login-form
        .main-div
          .panel
            a(href='/') 弹屏目
          p1(style='color:red') #{warning}
          .form-group
            input#input_id.form-control(type = 'text', placeholder = '账户')
          .form-group
            input#input_pw.form-control(type = 'password', placeholder = '密码')
          .form-group
            input#input_confirm.form-control(type = 'password', placeholder = '确认密码')
          .form-group
            input#input_email.form-control(type = 'text', placeholder = '邮箱')
          .forgot  
          button.btn.btn-primary(id='signup') 注册
          
           
