extends ../layout.jade
block contents
         #M3.content
          .container-fluid
            .row
              .col-md-12
                .card.card-plain
                  .header
                    h4.title 抽奖列表
                     span(style="float:right")
                      button.btn.btn-info.btn-fill(type='submit' id='make')创建
                  .content.table-responsive.table-full-width
                    table.table.table-hover
                      thead
                        tr  
                          th 序号
                          th 主题
                          th 说明
                          th 状态
                          th 操作
                      tbody
block script
    script(src='/assets/js/jquery.3.2.1.min.js', type='text/javascript')
    script(src='/assets/js/bootstrap.min.js', type='text/javascript')
    // Charts Plugin
    // Notifications Plugin
    script(src='/assets/js/bootstrap-notify.js')
    // Light Bootstrap Table Core javascript and methods for Demo purpose
    script(src='/assets/js/light-bootstrap-dashboard.js?v=1.4.0')
    // Light Bootstrap Table DEMO methods, don't include it in your project!
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript').
     var activities = !{items != null? JSON.stringify(items): 'null'};
     var socket = io();
     $(document).ready(function(){
        var cnt = 0;
        activities.forEach((act) =>{
          $('tbody').append("<tr id=tr" + cnt + "></tr>");
          $('#tr' + cnt).append($("<td style='width:5%'>").text(cnt));
          if(act.status == 'OVER')  
            $('#tr' + cnt).append("<td>" + act.title + "</td>");
          else
            $('#tr' + cnt).append("<td id=linktd" + cnt +  "><a href=" + act._id + " id = link" + cnt + " class=lottery_title >" + act.title + "</a></td>");
          $('#tr' + cnt).append($("<td>").text(act.sub_title));
          $('#tr' + cnt).append($("<td id = td" + cnt + '>').text(act.status));
          if(act.status == 'OVER'){
              $('#td' + cnt).css({'color':'red'});
              $('#tr' + cnt).append("<td id = btn" + cnt + " style='padding:5px'><button class='result btn btn-info btn-fill' id=" + cnt + '>查看结果</button></td>');
          }
          else{
              $('#td' + cnt).css({'color':'green'});
              $('#tr' + cnt).append("<td id = btn" + cnt + " style='padding:5px'><button class='start btn btn-success btn-fill' id=" + cnt + '>开始</button></td>');
          }
          cnt++;
        }); 
          $('#M' + $('.content').attr('id')).attr('class','active');
        });

      $(document).on('click','.join',function(){
          window.location = '/activity/' + activities[$(this).attr('id')]._id;
      })
      $(document).on('click','#make',function(){
          window.location = '/lottery/create';
      })
      $(document).on('click','.start',function(){
          $('#btn' + this.id).remove();
          $('#tr' + this.id).append("<td id = btn" + this.id + " ><button class='back btn btn-warning btn-fill' id=" + this.id + '>返回</button></td>')
          activities[this.id].type = 'lottery';
          socket.emit('drawWinner', activities[this.id]); 
      });
      $(document).on('click', '.back', function(){
          socket.emit('quitLottery', activities[this.id]);
          $('#btn' + this.id).remove();
          $('#tr' + this.id).append("<td id = 'btn'" + this.id +" ><button class='result btn btn-info btn-fill' id=" + this.id + ">查看结果</button></td>");
          $('#link' + this.id).remove();
          $('#td' + this.id).text('OVER');
          $('#td' + this.id).css({'color': 'red'});
          $()
          $('#linktd' + this.id).text(activities[this.id].title);
      });
      $(document).on('click', '.result', function(){
          window.open('/lottery/' + activities[this.id]._id + '/result');
      })
    style.
      .lottery_title:hover{color:red;}
      .lottery_title{
        text-decoration:underline;
        color:rgb(0,102,204);
      }
